/*
 * animations
 */
@import "sizing";

.overlay.ng-enter {
  -webkit-transition: 0.2s ease-out all;
  -moz-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
}

.overlay.ng-enter{
  height: 0;
  overflow: hidden;
}

.overlay.ng-enter.ng-enter-active {
  height: $overlay-height;
}

.overlay.ng-leave {
  -webkit-transition: 0.1s ease-out all;
  -moz-transition: 0.1s ease-out all;
  -o-transition: 0.1s ease-out all;
  transition: 0.1s ease-out all;
}

.overlay.ng-leave{
  height: $overlay-height;
  overflow: hidden;
}

.overlay.ng-leave.ng-leave-active {
  height: 0;
}
