
// Univeral Colors
$description-text-color: #555;
$page-background-header: #EEE;

// Universal Card Colors
$card-background-color: #FFF;
$card-shadow-color: #CCC;

// Film Colors
$film-color: #ec6c20;

// Concert Colors
$concert-color: #fff; 

// Album - Singles Colors
$music-color: #00b548;

