// Margin / Padding
$small-pixel: 5px;
$medium-pixel: 10px;
$large-pixel: 20px;

// The *little* things
$default-radius: 3px;
$shadow: 1px 1px 2px #CCC;
$radius-small: 2px;

// Card heights
$closed-card-height: 210px;
$open-card-height: 600px;