/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "colors";
@import "typography";
@import "sizing";

/* Styling Rules:
	Selectors in alphabetical order in each sub-section

	Order within a declaration block:
		- positioning
		- display
		- color
		- font
*/

// Page Styling

body {
	margin: 0px;
	background-color: $page-background-header;
}

p, div, span {
	font: $default-font;
	color: $default-font-color;
	position: relative;
}

// Default Card Styling

.card {
	width: 400px;
	height: 300px;
	background: $card-background-color;
	margin: $large-pixel;
	padding: $medium-pixel;
	box-shadow: $shadow;

	.content-block {
		span:first-child {
			font-weight: $bold;
		}

		div {
			padding: 7px;
		}
	}
  
  .small {
    height: 50px;
  }
}

.date {
	position: absolute;
	right: 10px;
	padding: 3px 7px 1px 7px;
	background-color: $film-color;
	color: $default-light-font;
	font: $h2-bold;	
	text-align: center;
	border-radius: $default-radius;
}

// Concert Card Styling

.concert-text-color {
	color: $concert-color;
}

.concert-highlight-color {
	background-color: $concert-color;
}

// Film Card Styling

.film-text-color {
	color: $film-color;
}

.film-highlight-color {
	background-color: $film-color;
}

// Music Card Styling

.music-text-color {
	color: $music-color;
}

.music-highlight-color {
	background-color: $music-color;
}