/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "colors";
@import "typography";
@import "sizing";

/* Styling Rules:
	Selectors in alphabetical order in each sub-section

	Order within a declaration block:
		- positioning
		- display
		- color
		- font
*/

// Page Styling

body {
	margin: 0px;
	background-color: $page-background-header;
}

p, div, span {
	font: $default-font;
	color: $default-font-color;
	position: relative;
}

// Default Card Styling

.page-header {
	position: fixed;
	z-index: 2;
	width: 100%;
	background: #1EAAF1;
	height: 50px;

	span {
		font-size: 14px;
		color: #fff;
	}

	input {
		background: #1EAAF1;
		border: none;
		outline: none;
		border-bottom: 1px solid #B7DAFF;
		padding: 3px;
		margin: 0px 10px;
		color: #fff;
		position: relative;
	}

	img {
		height: 16px;
		display: block;
		padding-left: 166px;
		margin-top: -18px;
	}
}

#nav {
    text-align: justify;
    min-width: 500px;
    width: 80%;
	margin: auto;
}
#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#nav li {
    display: inline-block;
    padding-top: 15px;
}

#nav li:first-child {
	span {
		font-weight: bold;
	}
}

.results-cards {
	top: 30px;
}

@mixin card($type-color) {

	background: $card-background-color;
	margin: $large-pixel;
	// padding: $medium-pixel;
	border: 1px solid #ededed;
	border-radius: $radius-small;
	overflow: hidden;

	.content-block {
		span:first-child {
			font-weight: $bold;
			color: $type-color;
		}

		div {
			padding: 7px 0px;
		}

		div.light {
			color: #858585;
		}
	}
  
	.lens {
	    img {
		  width: 300px;
		  opacity: 0;
		  cursor: pointer;
	    }
	    .color-bar {
	    	height: 4px;
			margin-top: -4px;
	    }
      img.spotify {
        width: 17px;
        opacity: 1;
        position: absolute;
        left: 51px;
        top: -2px;
      }
    
	}
  	.overlay {
		position: absolute;
		bottom: 0px;
		background-color: rgba(#FFF, .9);
    width: 300px;
	}
  	.body {
    	padding: 5px 15px;
  	}
  	.sub-title {
  		font-size: 10px;
  	}
  	.card-header, .card-footer {
  		text-align: center;
  	  	.type, .open {
	  		padding: 10px;
	  		float: left;
	  	}

	  	.open, .source {
	  		font-size: 11px;
	  	}

	  	.open:hover, .source:hover {
	  		cursor: pointer;
	  		color: $type-color;
	  	}
	  	.title {
	  		font-size: 16px;
	  		top: 9px;
			text-align: center;
			font-weight: bold;
			color: #666;
	 	}
	  
	 	.date, .source {
	 	 	padding: 10px;
	 	 	float: right;
	 	}

		.footer-text {
	 	 	color: #bbb;
	  	}
  	}
  	.trigger {
  		border: 1px solid #bdbdbd;
		height: 25px;
		border-radius: 20px;
		width: 180px;
		margin: auto;
		margin-bottom: 10px;

		:hover {
			cursor: pointer;
		}

		div {
			padding: 5px 0px;
			text-align: center;
		}

		span:first-child {
			font-weight: $bold;
			color: $type-color;
		}  
      
  	}


}

#film.card { @include card($film-color); }
#music.card { @include card($music-color); }

// Concert Card Styling

.concert-text-color {
	color: $concert-color;
}

.concert-highlight-color {
	background-color: $concert-color;
}

// Film Card Styling

.film-text-color {
	color: $film-color;
}

.film-highlight-color {
	background-color: $film-color;
}

// Music Card Styling

.music-text-color {
	color: $music-color;
}

.music-highlight-color {
	background-color: $music-color;
}

.block {
    position: absolute;
    // padding: 20px;
    width: 300px;
}

.grid {
	z-index: 1;
}
/* col */
.col {
	float: left;
}

/* 4 Columns */
.grid .col {
	width: 25.0%;
}

.grid .col:nth-of-type(4n+1) {
	margin-left: 0;
	clear: left;
}

/* 3 Columns */
@media screen and (max-width: 1300px) {
	.grid .col {
		width: 33.3%;
	}
	.grid .col:nth-of-type(4n+1) {
		clear: none;
	}
	.grid .col:nth-of-type(3n+1) {
		margin-left: 0;
		clear: left;
	}
}

/* 2 Columns */
@media screen and (max-width: 1000px) {
	.grid .col {
		width: 50%;
	}
	.grid .col:nth-of-type(3n+1) {
		clear: none;
	}
	.grid .col:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
}

@media screen and (max-width: 600px) {
	.col {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}
}
