  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <h1>{{name}}</h1>
  <div>
    Search: <input ng-model="query">
  </div>
  <ul>
    <li ng-repeat="card in cards | filter:query">
      <h2>{{card.name}}</h2>
      <img ng-src="{{card.imageUrl}}">
      <h4>{{card.tagline}}</h4>
      <p>{{card.consensus}}</p>
    </li> 
  </ul>
  
  <p>Total number of cards: {{cards.length}}</p>