  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <h1>{{name}}</h1>
  <div>
    Search: <input ng-model="query">
  </div>
  <div class="grid">
    <div class="col" ng-repeat="card in cards | filter:query">
      <div ng-if=" card.type == 'music' " ng-include src="'ui/partials/cards/templates/musicCard.html'" ng-controller="cardController">
      </div>
      <div ng-if=" card.type == 'film' " ng-include src="'ui/partials/cards/templates/filmCard.html'" ng-controller="cardController">
      </div>
    </div>
  </div>