<div class="card block" id="film" ng-click="changeSize()">

	<div class="date">{{::card.date}}</div>
	<div class="header"> 
		<img ng-src="{{::card.imageUrl}}" fade-in>
		<div class="film-highlight-color"></div>
	</div>
	<div ng-if="open" class="open">
		<div class="body">
			<div class="title film-text-color">{{::card.title}}</div>
			<div class="sub-title">{{::card.tagline}}</div> 
			<div class="content-block"> 
				<div> 
					<span> {{::card.time}} - {{::card.rating}} - </span>
					<span> {{::card.genre}} </span> 
				</div>
				<div class="light"> {{::card.creators}} </div>
			</div>
			<div class="content-block"> 
				<div> 
					<span> {{::card.score-percentage}}% </span> 
					<span> {{::card.source}} </span> 
				</div>
				<div class="light"> {{::card.consensus}} </div>
			</div>
		</div>
	</div>
	
	<div ng-if="!open" class="closed">
		<div class="body">
			<div class="title film-text-color">{{::card.title}}</div>
		</div>
	</div>

</div>
  