<div ng-if="open" class="card" id="music" ng-click="changeSize()">
	<div class="date">{{card.date}}</div>
	<div class="header"> 
		<img ng-src="{{card.art}}">
	</div>
  <div class="title music-text-color">{{card.artist}}</div>
	<div class="title music-text-color">{{card.title}}</div>
</div>
  
<div ng-if="!open" class="card small" ng-click="changeSize()" id="music">
  <div class="date">{{card.date}}</div>
	<div class="header"> 
		<img ng-src="{{card.art}}">
	</div>
	<div class="title music-text-color">{{card.title}}</div>
</div>